.button {
  font: inherit;
  cursor: pointer;
  padding: 0.7rem 1.3rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 0.3em;
}

.button:hover, .button:active {
  background-color: #510674;
  border-color: #510674;
}

@media (min-width: 530px) {
  .button{
    width: initial;
    margin-left: 1rem;
  }
}